<div class="text-center">
  <h1>Editing Participant</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @participant %> |
  <%= link_to 'Back', participants_path %> |
  <%= link_to 'Home', root_path %>
</div>
