.text-center
  %h2.text-center Conference
  = link_to 'See conferences', conferences_path

  %h2.text-center Subject
  = link_to 'See subjects', subjects_path
  |
  \#{link_to 'New subject', new_subject_path}
